@mixin clearfix {
  &::before {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin vcenter-parent {
  display: table;
  height: 100%;
  width: 100%;
}

@mixin vcenter {
  display: table-cell;
  vertical-align: middle;
}

@mixin hcenter {
  margin: 0 auto;
}
