// COLORS /////////////////////////////
$pri-bg-color:        rgb(73, 10, 117);
$pri-font-color:      #f6f0e6;
$pri-btn-color:       #161616;

// FONTS //////////////////////////////
$pri-font:            'Poiret One', serif;